/*Okto Family Colors*/

$background: #E8E9F1;
$background-option-container: #F4F4F8;
$white: #fff;
$black: #000;
$dark-gray: #333;
$light-gray: #f1f2f4;
$soft-gray: #f5f7fc;
$gray-modal-bg: #F1F4F9;
$medium-gray: #ddd;
$hint-gray: #b8b4c0;
$gray-light: #ccc;
$standard-gray: rgb(155, 155, 155);
$gray-controls: #868686;
$gray-background-dark: #656565;
$gray-labels: #6e6e6e;
$green: #36b37e;
$very-soft-gray: #F2F2F2;
$red: #bf2600;
$red-2: #E22121;
$exotic-gray: #D8E1F3;
$blue: #172b4d;
$blue2: #172b4d;
$blue-primary: #4a74b3;
$gray-blue: #6B778D;
$light-blue: #21aae1;
$light-blue-2: #0099ff;
$soft-blue: #a8d0fb;
$soft-blue2: #E8EBF1;
$soft-blue3: #F5F7FC;
$blue-info: #75aadc;
$blue-input: #172b4d;
$blue-input-2: #0049b0;
$blue-layout-elements: #083170;
$blue-general-stylings: #20457e;
$blue-title-result-criticality: #0C304A;
$gray: #666666;
$gray-2: #797979;
$gray-strong-text: #999999;
$gray-light-text: #b8b4c0;
$gray-disabled: #a5adba;
$gray-background-light: #E4E4E4;
$dark-gray: #454647;
$orange: #ff9900;
$orange-2: #F9B639;
$transparent-background: rgba(0, 0, 0, 0.15);
$nice-light-blue: #97C4E2;
$nice-gray: #D3DEED;
$nice-gray-light: rgb(233, 238, 245);
$color-count-attributed: #FF9900;
$color-count-progress: #0049B0;
$color-green: #36b37e;
$border-top: #dcdee0;