<div class="pagination" [ngClass]="{ disabled: !tableRequestReturned }">
    <div class="itens-per-page">
        <div *ngIf="tableRequestReturned && showDisplay">
            <span>Display</span>
            <span class="showing">
        <select
          id="listQtyPerPage"
          [(ngModel)]="selectedOption"
          (change)="onChange()"
          class="select-page"
        >
          <option *ngFor="let item of options" [ngValue]="item">
            {{ item }}
          </option>
        </select>
      </span>
            <span> items per page</span>
        </div>

        <div [class.results]="totalItemsCount > itemsPerPageFixed" [class.results-one-page]="totalItemsCount <= itemsPerPageFixed" *ngIf="tableRequestReturned">
            <span>Showing</span>
            <span class="showing">{{ tableListLength }}</span>
            <span>of</span>
            <span class="of">{{ totalItemsCount }}</span>
            <span>results</span>
        </div>
    </div>

    <div class="page-numbers" *ngIf="totalItemsCount > itemsPerPageFixed">
        <span class="double-arrow arrows-left" (click)="showFirstPage()">
      <i
        class="material-icons"
        [ngClass]="{ disabled: selectedPageIndex === 0 }"
        >keyboard_arrow_left</i
      >
      <i
        class="material-icons"
        [ngClass]="{ disabled: selectedPageIndex === 0 }"
        >keyboard_arrow_left</i
      >
    </span>
        <span class="arrow arrow-left" (click)="showPreviousPage()">
      <i class="material-icons" [ngClass]="{ disabled: showingFirstPage }"
        >keyboard_arrow_left</i
      >
    </span>

        <span *ngFor="let page of pagesToDisplay" (click)="emitPageRequested(page.pageIndex)" [ngClass]="{ active: page.pageIndex === selectedPageIndex }">{{ page.number }}</span
    >

    <span class="arrow arrow-right" (click)="showNextPage()">
      <i class="material-icons" [ngClass]="{ disabled: showingLastPage }"
        >keyboard_arrow_right</i
      >
    </span>
        <span class="double-arrow arrows-right" (click)="showLastPage()">
      <i
        class="material-icons"
        [ngClass]="{ disabled: selectedPageIndex === totalPages - 1 }"
        >keyboard_arrow_right</i
      >
      <i
        class="material-icons"
        [ngClass]="{ disabled: selectedPageIndex === totalPages - 1 }"
        >keyboard_arrow_right</i
      >
    </span>
    </div>
</div>